@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* * {
    border: red solid 1px;
} */

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/* base edits of the form */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 50%;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 8px;
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}